*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to right top, #051937, #11182f, #161827, #18181f, #181818);
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    width: 100%;
    height: 50%;
}

#mouse{
    transform-origin: center center;
    transform-box: fill-box;

    transform: translate3d(170px, 0, 0);
    opacity: 1;

    animation: mouse 10s ease infinite;
}

@keyframes mouse{
    0%{
        opacity: 0;
        transform: translate3d(170px, 0, 0);
    }
    10%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    30%{
        opacity: 1;
        transform: translate3d(-260px, -110px, 0) scale(1);
    }
    33%{
        opacity: 1;
        transform: translate3d(-260px, -110px, 0) scale(0.8);
    }
    36%{
        opacity: 1;
        transform: translate3d(-260px, -110px, 0) scale(1);
    }
    50%{
        opacity: 1;
        transform: translate3d(-220px, -130px, 0);
    }
    60%{
        opacity: 1;
        transform: translate3d(-240px, -150px, 0);
    }
    80%{
        opacity: 1;
        transform: translate3d(-100px, -190px, 0) scale(1);
    }
    83%{
        opacity: 1;
        transform: translate3d(-100px, -190px, 0) scale(0.8);
    }
    86%{
        opacity: 1;
        transform: translate3d(-80px, -190px, 0) scale(1);
    }
    87%{
        opacity: 1;
        transform: translate3d(-80px, -190px, 0);
    }
    95%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100%{
        opacity: 0;
        transform: translate3d(170px, 0, 0);
    }
}

#Vector1, #Rectangle1, #Rectangle2, #Rectangle3, #Rectangle4 {
    opacity: 0;
    animation: fundo 10s linear infinite;
}

@keyframes fundo {
    0%,33%{
        opacity: 0;
    }
    34%,82%{
        opacity: 1;
    }
    83%,100%{
        opacity: 0;
    }
}